Django==5.0.1
djangorestframework==3.14.0
drf-spectacular==0.27.1
psycopg2-binary==2.9.10
django-cors-headers==4.3.1
Pillow==11.2.1
python-dotenv==1.0.1
django-filter==24.1
openpyxl==3.1.5
django-tinymce==5.0.0
django-prose-editor[sanitize]==0.26.0
beautifulsoup4==4.15.0
gunicorn==23.0.0
whitenoise==6.7.0
redis==5.0.8
