nvt24.ru {
    tls /certs/fullchain.pem /certs/privkey.pem
    encode zstd gzip

    header {
        Strict-Transport-Security "max-age=31536000"
        X-Content-Type-Options "nosniff"
        Referrer-Policy "same-origin"
    }

    @django_static path /django-static/*
    handle @django_static {
        root * /srv/staticfiles
        uri strip_prefix /django-static
        file_server
        header Cache-Control "public, max-age=2592000"
    }

    @media path /static/*
    handle @media {
        root * /srv/media
        uri strip_prefix /static
        file_server
        header Cache-Control "public, max-age=604800"
    }

    @legacy_admin path /admin*
    handle @legacy_admin {
        respond 404
    }

    @yandex_verification path /yandex_71cca7adca0a511c.html
    handle @yandex_verification {
        header Content-Type "text/html; charset=UTF-8"
        respond "<html><head><meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\"></head><body>Verification: 71cca7adca0a511c</body></html>" 200
    }

    @backend path /robots.txt /sitemap.xml /sitemap-*.xml /{$ADMIN_URL_PATH}* /tinymce* /v1*
    reverse_proxy @backend 127.0.0.1:8000

    reverse_proxy 127.0.0.1:3000
}

http://nvt24.ru, http://www.nvt24.ru {
    @yandex_verification path /yandex_71cca7adca0a511c.html
    handle @yandex_verification {
        header Content-Type "text/html; charset=UTF-8"
        respond "<html><head><meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\"></head><body>Verification: 71cca7adca0a511c</body></html>" 200
    }

    @robots path /robots.txt
    handle @robots {
        header Content-Type "text/plain; charset=utf-8"
        respond "User-agent: *
Allow: /
Disallow: /v1/
Disallow: /tinymce/
Disallow: /django-static/admin/
Disallow: /control-39h6umropjqw0e2sankx1lzd/
Sitemap: https://nvt24.ru/sitemap.xml
" 200
    }

    handle {
        redir https://nvt24.ru{uri} permanent
    }
}

www.nvt24.ru {
    encode zstd gzip

    @yandex_verification path /yandex_71cca7adca0a511c.html
    handle @yandex_verification {
        header Content-Type "text/html; charset=UTF-8"
        respond "<html><head><meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\"></head><body>Verification: 71cca7adca0a511c</body></html>" 200
    }

    handle {
        redir https://nvt24.ru{uri} permanent
    }
}
